[submodule "VideoSplitterBaseWinUI"]
	path = VideoSplitterBaseWinUI
	url = https://github.com/PeteJobi/VideoSplitterBaseWinUI.git
[submodule "DraggerResizerWinUI"]
	path = DraggerResizerWinUI
	url = https://github.com/PeteJobi/DraggerResizerWinUI.git
[submodule "VideoSplitterPageWinUI"]
	path = VideoSplitterPageWinUI
	url = https://github.com/PeteJobi/VideoSplitterPageWinUI.git
[submodule "TimelineWinUI"]
	path = TimelineWinUI
	url = https://github.com/PeteJobi/TimelineWinUI.git
[submodule "WinUIShared"]
	path = WinUIShared
	url = https://github.com/PeteJobi/WinUIShared.git
